/*=== Author: Daniela Tenório ===*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

:root {
  --primaria: #ededed;
  --blanco: #fff;
  --azulclaro: rgb(0, 238, 222);
  --azulclarotransp: rgba(0, 238, 222, 0.29);
  --azuloscuro: #081b29;
  --backgound: #010d24;
  --footerColor: #a5b3ce;
}

/*==== CSS base ====*/
html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--primaria);
  background-color: var(--backgound);
}

/*==== HEADER ====*/
header {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 6px;
  background: transparent;
  backdrop-filter: blur(20px);
  z-index: 100;
  box-sizing: border-box;

  /* border: 2px solid red; */
}

/*==== LOGO ====*/
.logo {
  position: relative;
  left: 30px;
  cursor: default;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 50%;
  color: var(--primaria);
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  color: var(--azulclaro);
  box-shadow: 0 0 20px var(--azulclaro);
}

.logo:hover {
  box-shadow: 0 0 28px var(--azulclaro);
}

/*==== MENU ====*/
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;
  right: 5px; */
  padding: 0 20px;
  box-sizing: border-box;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*==== ITEMS DEL MENU ====*/
header nav ul li {
  padding: 20px;
}

.menu {
  position: relative;
  color: var(--azulclaro);
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s;
  display: inline-block;
}

/* .menu.active {
  color: var(--primaria);
} */

.menu:hover {
  color: var(--primaria);
}

/*==== Pseudo Elemento: líneas del menú ====*/
.menu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: var(--azulclaro);
  transform-origin: right;
  transform: scale(0);
  transition: 0.3s ease;
}

/* .menu:hover {
  text-shadow: 0 0 7px var(--azulclaro);
} */

.menu:hover::after {
  transform: scale(1.2);
}

.menu::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 100%;
  height: 2px;
  background: var(--azulclaro);
  transform-origin: left;
  transform: scale(0);
  transition: 0.3s ease;
}

.menu:hover::before {
  transform: scale(1.2);
}

/*==== BUTTON CONTACTO ====*/
.btn-popup {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 12px 25px;
  background: transparent;
  border: 2px solid var(--azulclaro);
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--azulclaro);
  font-weight: bold;
  letter-spacing: 1.3px;
  transition: 0.3s ease;
}

.btn-popup:hover {
  background-color: var(--azulclaro);
  color: var(--azuloscuro);
  box-shadow: 0 0 12px var(--azulclaro);
  transform: scale(1.1);
}

/*==== MAIN: Section 1 ====*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* margin: 0 auto; */
  /* max-width: 1280px; */
  cursor: default;

  box-sizing: border-box;
}

main .home {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 50px;
  box-sizing: border-box;

  /* border: 1px solid red; */
}

/*==== DIV 1 ====*/
.home-sci {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: relative;
  top: 20px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;

  /* border:  2px solid; */
}

/*==== Textos ====*/
.box-btnIcons {
  display: flex;
  column-gap: 30px;
}

.text-cont {
  padding: 10px 0;
}

.text-cont h3 {
  font-size: 3rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.text-cont p {
  font-size: 5rem;
  font-weight: 500;
}

.text-cont h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: -3px 0;
}

.text-cont .name-text {
  color: var(--azulclaro);
}

.text-cont .name-text:hover {
  text-shadow: 0 0 7px var(--azulclaro);
}
/*==== ANIMACIÓN DEL TEXTO ====*/
.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "Web Developer";
  color: var(--azulclaro);
  animation: words 20s infinite;
}

.text-animation span::after {
  content: "";
  background-color: var(--backgound);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--azulclaro);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--azulclaro);
  }
}

@keyframes words {
  0%,
  20% {
    content: "Backend Dev";
  }

  21%,
  40% {
    content: "Web Designer";
  }

  41%,
  60% {
    content: "Frontend Dev";
  }

  61%,
  80% {
    content: "UI/UX Designer";
  }

  81%,
  100% {
    content: "Software Tester";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }

  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.text-cont p {
  position: relative;
  top: 1.5rem;
  font-size: 0.9rem;
}

/*==== Button y Redes ====*/
.box-btnIcons {
  display: flex;
  gap: 50px;
  padding-top: 30px;
  box-sizing: border-box;

  /* border: 2px solid var(--azulclaro); */

}

/*==== Icons ====*/
.home-sci-icons {
  display: flex;
  position: relative;
}

.home-sci a,
.home-sci a:link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid var(--azulclaro);
  border-radius: 50%;
  font-size: 20px;
  color: var(--azulclaro);
  text-decoration: none;
  margin: 30px 15px 30px 0;
}

.home-sci a:hover {
  background: var(--azulclaro);
  color: var(--azuloscuro);
  box-shadow: 0 0 20px var(--azulclaro);
}

/*==== Button ====*/
.btn-cont {
  display: flex;
  align-items: center;
  position: relative;
}

#btn {
  display: flex;
  position: relative;
  top: -14px;
}

#btn .btn-box {
  display: flex;
  width: 100%;
  padding: 12px 28px;
  position: relative;
  top: -18px;
  background: var(--azulclaro);
  color: var(--azuloscuro);
  border-radius: 40px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.3px;
  text-decoration: none;
  transition: 0.3s ease;

}

.btn-box:hover {
  box-shadow: 0 0 20px var(--azulclaro);
  transform: scale(1.1);
}

/*==== DIV 2 ====*/
/*==== Image ====*/
.home-img {
  display: flex;
  position: relative;
  right: 6em;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;

  /* border: 2px solid rgb(120, 229, 77); */
}

.home-img img {
  position: relative;
  top: -30px;
  width: 75%;
  border: 7px solid transparent;
  border-radius: 50%;
  background-color: var(--azulclaro);
  box-shadow: 0 0 30px var(--azulclaro);
  transition: 0.3s ease;
}

.home-img img:hover {
  box-shadow: 0 0 65px var(--azulclaro);
  transform: scale(1.1);
}

/* ==== SECTION 2: SOBRE MI ==== */
#about .about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  height: 100vh;
  width: 100%;
  position: relative;
  top: 90px;
  box-sizing: border-box;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  /* padding: 25px; */
  box-sizing: border-box;
}

.about-img img {
  position: relative;
  width: 100%;
  border: 7px solid transparent;
  border-radius: 50%;
  background-color: var(--azulclaro);
  box-shadow: 0 0 30px var(--azulclaro);
  transition: 0.3s ease;
}

.about-img img:hover {
  box-shadow: 0 0 65px var(--azulclaro);
  transform: scale(1.1);
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 49%;
  box-sizing: border-box;
}

.about-text h2 {
  font-size: 4rem;
  margin: 0;
  letter-spacing: 0.2rem;
}

.about-text h2 span {
  color: var(--azulclaro);
}

.about-text h2 span:hover {
  text-shadow: 0 0 7px var(--azulclaro);
}

.about-text h3 {
  position: relative;
  top: -12px;
  font-size: 1rem;
  margin-top: 0;
}

.about-text p {
  font-size: 1.1rem;
  text-align: center;
}

.about-btn {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10px;
  width:
    /* 300px */ auto;
  height:
    /* 25px */ auto;
  padding: 5px 20px;
  background-color: var(--azulclaro);
  color: var(--azuloscuro);
  border: 2px solid var(--azulclaro);
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.about-btn:hover {
  background-color: var(--azulclaro);
  box-shadow: 0 0 12px var(--azulclaro);
  transform: scale(1.1);
}

/* ==== SECTION 3: FORMACIÒN ==== */
#formacion {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.formacion {
  padding: 100px 15px;
  box-sizing: border-box;
  /* border: 1px solid;
   */
}

#formacion h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  width: 100%;
  padding: 50px;

  box-sizing: border-box;
}

#formacion h2 span {
  color: var(--azulclaro);
}

#formacion h2 span:hover {
  text-shadow: 0 0 7px var(--azulclaro);
}

.timeline-items {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  left: calc(50% - 1px);
  background-color: var(--azuloscuro);
  /* background-color: var(--azulclaro); */
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

#formacion h3 {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  width: 21px;
  height: 21px;
  background-color: var(--azulclaro);
  box-shadow: 0 0 25px var(--azulclaro), 0 0 50px var(--azulclaro);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: calc(50% - 8px);
}

.timeline-date {
  display: flex;
  justify-content: center;
  margin: 6px 0 15px;
  color: var(--primaria);
  font-size: 20px;
  font-weight: 800;
}

.date1 {
  position: relative;
  left: -45px;
}

.date2 {
  position: relative;
  right: -50px;
}

.date3 {
  position: relative;
  left: -45px;
}

.date4 {
  position: relative;
  right: -50px;
}

.timeline-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  background-color: var(--azuloscuro);
  border: 3px solid var(--azulclaro);
  box-shadow: 0 0 10px var(--azulclaro);
  border-radius: 4rem;
  padding: 15px 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--azulclaro);
}

/* ==== CARDS FORMACIÒN ==== */
.child1 {
  position: relative;
  left: 108px;
  width: 30%;
}

.child2 {
  position: relative;
  right: -630px;
  width: 30%;
}

.child3 {
  position: relative;
  left: 108px;
  width: 30%;
}

.child4 {
  position: relative;
  right: -630px;
  width: 30%;
}

.timeline-content h3 {
  margin: 0 0 16px;
  color: var(--primaria);
  font-size: 20px;
  font-weight: 500;
}

.timeline-content p {
  color: var(--primaria);
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

/* ==== SECTION 4: SKILLS ==== */
#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* padding: 30px; */
  box-sizing: border-box;

  /* border: 1px solid red; */
}

#skills h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  width: 100%;
  box-sizing: border-box;
}

#skills h2 span {
  color: var(--azulclaro);
}

#skills h2 span:hover {
  text-shadow: 0 0 7px var(--azulclaro);
}

#skills .technical-bars {
  display: flex;
}

.technical-bars {
  display: flex;
  flex-direction: row;
  /* column-gap: 10px; */
  justify-content: flex-end;
  /* align-items: center; */
  width: 100%;
  height: auto;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.bars01 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 50px;
  width: 47%;
  height: 100%;
  padding: 10px;
  /* justify-content: space-around; */
  box-sizing: border-box;

  /* border: 1px solid red; */
}

.bars02 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 50px;
  width: 47%;
  height: 100%;
  padding: 10px;

  box-sizing: border-box;

  /* border: 1px solid red; */
}

/*==== BARRA OSCURA ====*/
.progress-line-box1 {
  width: 80%;
  /* border: 5px solid var(--footerColor); */
  background-color: var(--azuloscuro);
}

.progress-line-box2 {
  width: 80%;
  /* border: 5px solid var(--footerColor); */
  background-color: var(--azuloscuro);
}

/*==== BARRA AZUL ====*/
.bar-oscura-box1 {
  width: 100%;
  padding: 0 180px;
  background-color: var(--azulclaro);
  /*  height: 5px; */
  /* border: 5px solid var(--azulclaro); */
}

.bar-oscura-box1x {
  width: 100%;
  padding: 0 135px;
  background-color: var(--azulclaro);
  /*  height: 5px; */
  /* border: 5px solid var(--azulclaro); */
}

.bar-oscura-box2 {
  width: 100%;
  padding: 0 65px;
  background-color: var(--azulclaro);
  /*  height: 5px; */
  /* border: 5px solid var(--azulclaro); */
}

/*==== PORCENTAGEM ====*/
.bar-per-box1 {
  position: relative;
  justify-content: flex-end;
  top: -20px;
  right: -69px;
  font-size: small;
  box-sizing: border-box;
}

.bar-per-box1x {
  position: relative;
  justify-content: flex-end;
  top: -20px;
  right: -156px;
  font-size: small;
  box-sizing: border-box;
}

.bar-per-box2 {
  position: relative;
  justify-content: flex-end;
  top: -20px;
  right: -299px;
  font-size: small;
  box-sizing: border-box;
}

/*==== PROYECTO ====*/
#project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 30px; */
  width: 100%;
  height: auto;
  /* padding: 25px; */
  box-sizing: border-box;
}

#project h2 {
  position: relative;
  top: 20px;
  font-size: 5rem;
  /* margin: 0; */
  /* padding: 0; */
}

#project h2 span {
  color: var(--azulclaro);
}

#project h2 span:hover {
  text-shadow: 0 0 7px var(--azulclaro);
}

#project .project-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2.3rem;
  padding-bottom: 70px;

  box-sizing: border-box;
}

#project .project-title h2{
  margin-bottom: 15px;
}

.project-cards-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
  width: 100%;
  padding: 20px;
  padding-top: 100px;
  box-sizing: border-box;
  /* border-top: 2px solid var(--azulclaro); */

  /* border: 1px solid red; */
  /* column-gap: 70px; */
}

.project-cards {
  width: 230px;
  height: 300px;
  background-size: cover;
  background-position: 100% 0;
  transition: 0.3s ease;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  box-sizing: border-box;
  border: 2px solid var(--azulclarotransp);
  box-shadow: 0 0 25px var(--azulclaro);
}

.project-cards:hover {
  border: 3.5px solid var(--azulclaro);
}

.proj1 {
  background-image: url(../img/full.Project.png);
  background-size: cover;
  background-position: 100% 0;
  transition: 5s;
}

.proj1:hover {
  background-position: 100% 100%;
}

.proj2 {
  background-image: url(../img/project-img2.png);
  background-size: cover;
  background-position: 100% 0;
  transition: 5s;
}

.proj2:hover {
  background-position: 100% 100%;
}

/*==== FOOTER ====*/
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  cursor: default;
}

footer .footer-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 3rem;
  padding: 50px;

  /* border: 1px solid; */
  box-sizing: border-box;
}

footer h2 {
  margin: 0;
  padding: 0;
}

/*==== LINEAS DEL CONTACTO ====*/
footer .bar-one {
  width: 35px;
  padding: 0 30px;
  height: auto;
  border: 4px solid var(--azulclaro);
}

.footer-span {
  color: var(--azulclaro);
}

.footer-span:hover {
  text-shadow: 0 0 7px var(--azulclaro);
  
}

footer .bar-two {
  position: relative;
  top: 5px;
  width: 5px;
  padding: 0 30px;
  height: auto;
  border: 4px solid var(--azulclaro);
}

footer .footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  /* border: 1px solid; */
  box-sizing: border-box;
}

footer .footer-text h3 {
  font-size: 3rem;
  letter-spacing: 1px;
  color: var(--azulclaro);
  margin: 0;
}

footer .footer-text p {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
}

footer .footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;

  /* border: 1px solid; */
  box-sizing: border-box;
}

footer .footer-icons-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* border: 1px solid;
  box-sizing: border-box; */
}

footer .footer-icons-items span {
  font-size: 1.5rem;
  color: var(--azulclaro);
}

footer .footer-icons-items h4 {
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  margin-bottom: 0;
  padding-bottom: 0;

  /* border: 1px solid;
  box-sizing: border-box; */
}

footer .footer-icons-items a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--footerColor);

  /* border: 1px solid;
  box-sizing: border-box; */
}

footer .footer-icons-items a:hover {
  color: var(--azulclaro);
  text-decoration: underline;
}

footer .copy {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 11px;
  color: var(--footerColor);
  cursor: default;

  /* border: 1px solid;
  box-sizing: border-box; */
}

/* ::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--azulclaro);
}

::-webkit-scrollbar-track {
  background-color: var(--azuloscuro);
} */
